<div class="row" id="above-footer-links">
    <div class="medium-12 columns center">
        <a href="/help#terms-and-conditions">Terms &amp; Conditions</a> &middot; <a href="/help#privacy-policy">Privacy Policy</a>
    </div>
</div>
