<div class="side-panel method-side-panel">
	<div class="element-list" data-control="element-list">
		{{#each methods}}
            {{#unless hidden}}
                <div data-control="element" class="element {{#if selected}}selected{{/if}}" data-value="{{name}}">{{name}}</div>
            {{/unless}}
		{{/each}}
	</div>
	<!--<div class="add-method">Add New Method</div>-->
</div>
