<dl class="tabs" data-tab>
    <dd class="small-4 columns text-center">
        <a href="#panel-methods">Methods</a>
    </dd>
    <dd class="small-4 columns text-center active">
        <a href="#panel-properties">Properties</a>
    </dd>
    <dd class="small-4 columns text-center">
        <a href="#panel-events">Events</a>
    </dd>
</dl>
