<% /* Full help page HTML is served by the server (for SEO, browsers without JavaScript & IE<9 where JQuery v2 breaks) */ %>
<%- include head.ejs %>
<div id="main">

    <div>

    <%- include top_bar.ejs %>

        <div id="content">

            <div id="help" class="row">

                <div class="medium-12 columns center">

                <h1>Welcome to Let's Code! <span class="beta">beta</span></h1>

                <h3>What is <em>Let's Code!</em> ?</h3>

                <p>
                    <em>Let's Code!</em> is a web-based application or "app" that teaches you how to code. But rather than
                    showing lines of code, <em>Let's Code!</em> introduces you to the basics of programming, in a visual way.
                    You can click on objects on the screen, learn more about them and even connect them in order to see
                    something happen.
                </p>
                <p>
                    <em>The idea is to give you an understanding of the concept, and what a final product might be able to do.</em>
                </p>
                <p>In this version of <em>Let's Code!</em> you can:</p>
                <ul>
                    <li>Create your own projects</li>
                    <li>Save your progress online as you go</li>
                    <li>Share your work with others</li>
                    <li>Publish your work so that it can be run on computers</li>
                    <li>Learn by going through lessons and exercises</li>
                </ul>

                <a name="browser-support"></a>
                <h3>Which browsers are supported?</h3>

                <p><em>Let's Code!</em> currently works best with the latest versions of Chrome, Safari or Firefox.</p>
                <p>
                    Right now, it won't work in Internet Explorer 9 or older versions. It may work in Internet Explorer 10 and
                    11 but some styling issues should be expected.
                </p>

                <h3>Info for Developers</h3>

                <p>
                    Why limit this fantastic tool? <em>Let's Code!</em> is open-sourced. As a Developer, you will be able to
                    grab the code, extend it (for example, adding new tutorials) and fork it to suit your objectives.
                    Want to check out the souce? You can find it on GitHub here:
                    <a href="https://github.com/Pearson-FutureTech/LetsCode-v2">github.com/Pearson-FutureTech/LetsCode-v2</a>.
                </p>
                <p>
                    Please see the <a href="https://github.com/Pearson-FutureTech/LetsCode-v2/blob/master/README.md">README</a>
                    for more information.
                </p>

                <a name="parents-teachers"></a>
                <h3>Info for Parents</h3>

                <p>
                    Learning how to code provides kids with tangible skills for future employment, while also developing their
                    overall creativity and problem solving abilities. <em>Let's Code!</em> is a web application that helps
                    children learn the basics of coding whilst building their own interactive web apps to share with their
                    families and friends. It enables children to express themselves more fully and creatively, helps them
                    develop as logical thinkers, and helps them understand the workings of the new technologies they encounter
                    everywhere in their everyday lives.
                </p>

                <p>
                    <em>Let's Code!</em> is built by Pearson's Future Technologies team, and innovation team inside the
                    leading education company.
                </p>

                <h3>Info for Teachers</h3>

                <p>
                    Teaching students how to program has never been so important, and there is a clear trend that students start
                    to learn programming in their early ages. As such, teachers need tangible tools to help them teach young
                    students coding skills in a fun and engaging way.
                </p>

                <p>
                    Let’s Code! is an online application that aims to meet that need. It provides carefully designed
                    introductory tutorials with a clear narrative to help students better understand the programming
                    terminology and basic skills of programming step by step, and enables students to continue exploring after
                    finishing the lessons, such as creating their own apps.
                </p>

                <p>
                    Let’s Code! is an open source platform so that more tutorials as well as new functions are expected to be
                    created in the future.
                </p>

                <a name="terms-and-conditions"></a>
                <h3>Terms and Conditions</h3>

                <p>By using <em>Let's Code!</em>, you agree to the Privacy Policy below:</p>
                
                <a name="privacy-policy"></a>
                <h3>Privacy Policy</h3>

                <h4>Personal identification information</h4>

                <p>
                    The only personal information users may need to provide is email address, and <em>Let’s Code!</em> requests
                    for it only when users choose to send the auto-generated username to them. Let’s Code! will delete the
                    information right after sending out the email and won’t store it for any future use.
                </p>

                <h4>Non-personal identification information</h4>

                <p>
                    We may collect non-personal identification information about users whenever they interact with
                    <em>Let’s Code!</em>. Non-personal identification information may include the browser name, the type of
                    computer and technical information about users' means of connection to Let’s Code!, such as the operating
                    system and the Internet service providers utilized and other similar information.
                </p>

                <h4>How we protect your information</h4>

                <p>
                    We adopt appropriate data collection, storage and processing practices and security measures to protect
                    against unauthorized access, alteration, disclosure or destruction of your personal information, username,
                    password and data stored on <em>Let’s Code!</em>.
                </p>

                <h4>Sharing your personal information</h4>

                <p>We do not share any of your personal information to others.</p>

                <h4>Web browser cookies</h4>

                <h5>What are cookies</h5>

                <p>
                    As is common practice with almost all professional websites, <em>Let’s Code!</em> uses cookies, which are
                    tiny files that are downloaded to your computer while you are browsing, to improve your experience. This
                    section describes what information they gather, how we use it and why we sometimes need to store these
                    cookies. We will also share how you can prevent these cookies from being stored. However, this may
                    downgrade or 'break' certain elements of Let’s Code!'s functionality.
                </p>

                <p>For more general information on cookies see the Wikipedia article on
                    <a href="http://en.wikipedia.org/wiki/HTTP_cookie">HTTP Cookies</a>.</p>

                <h5>How we use cookies</h5>

                <p>
                    We use cookies for a variety of reasons detailed below. Unfortunately in most cases there are no industry
                    standard options for disabling cookies without completely disabling the functionality and features they add
                    to this site. It is recommended that you leave on all cookies if you are not sure whether you need them in
                    case they are used to provide a service that you use.
                </p>

                <h5>Disabling cookies</h5>

                <p>
                    You can prevent the setting of cookies by adjusting the settings on your browser (see the list below). Be
                    aware that disabling cookies will reduce the functionality of Let’s Code! and many other websites that you
                    visit so that some features may not work. Therefore it is recommended that you do not disable cookies.
                </p>

                <h5>How to check cookies are enabled on your PC</h5>

                <p>Google Chrome</p>
                <ul>
                    <li>
                        Click on the spanner icon (top menu in browser) and select ‘Settings’
                    </li>
                    <li>
                        Click the 'Under the Bonnet' tab on the left, then select the 'Content settings' button
                    </li>
                    <li>
                        Under the cookies section, choose the option that best suits your needs.
                    </li>
                </ul>

                <p>Mozilla Firefox</p>
                <ul>
                    <li>
                        Click on 'Tools' (top menu in browser) and select ‘Options’
                    </li>
                    <li>
                        Select the Privacy icon
                    </li>
                    <li>
                        In the history section choose 'Use custom settings for history' from the dropdown menu
                    </li>
                    <li>
                        Cookies can be enabled or disabled by clicking on the appropriate check boxes.
                    </li>
                </ul>

                <p>Safari</p>
                <ul>
                    <li>
                        Click on the Cog icon (top menu in browser) and select 'Preferences'
                    </li>
                    <li>
                        Click on Privacy tab and choose the option that best suits your needs.
                    </li>
                </ul>

                <h5>How to check cookies are enabled on your MAC</h5>

                <p>Safari on OSX</p>
                <ul>
                    <li>
                        Click on 'Safari' at the top of your browser window and select 'Preferences'
                    </li>
                    <li>
                        Click on the 'Privacy' tab
                    </li>
                    <li>
                        Adjust the level of cookie acceptance here.
                    </li>
                </ul>

                <p>Firefox</p>
                <ul>
                    <li>
                        Click on 'Firefox' at the top of your browser window and select 'Preferences'
                    </li>
                    <li>
                        Select the Privacy icon
                    </li>
                    <li>
                        In the history section choose 'Use custom settings for history' from the dropdown menu
                    </li>
                    <li>
                        Cookies can be enabled or disabled by clicking on the appropriate check boxes.
                    </li>
                </ul>

                <p>Opera</p>
                <ul>
                    <li>
                        Click on 'Opera' at the top of your browser window and select 'Preferences'

                    </li>
                    <li>
                        Select the 'Advanced' tab and choose Cookies from the list on the left
                    </li>
                    <li>
                        Choose the option that best suits your needs.
                    </li>
                </ul>

                <h5>The cookies we set</h5>

                <p>
                    We use cookies when you are logged in so that we can remember this fact. This prevents you from having to
                    log in every single time you visit a new page. These cookies are typically removed or cleared when you log
                    out to ensure that you can only access restricted features and areas when logged in.
                </p>

                <p>By using Let’s Code! you agree that we may place these types of cookies on your device.</p>

                <h5>Third party cookies</h5>

                <p>
                    In some special cases we also use cookies provided by trusted third parties. The following section details
                    which third party cookies you might encounter through <em>Let’s Code!</em>.
                </p>

                <p>
                    <em>Let’s Code!</em> uses Google Analytics, one of the most widespread and trusted analytics solutions on
                    the web, to help us understand how you use <em>Let’s Code!</em> and ways that we can improve your
                    experience. These cookies may track things such as how long you spend on <em>Let’s Code!</em> and the pages
                    you visit so that we can continue to produce engaging content and improve how <em>Let’s Code!</em> works.
                </p>

                <p>
                    For more information on Google Analytics cookies, see section “Google Analytics” below. By using
                    <em>Let’s Code!</em> you agree that we may place these types of cookies on your device.
                </p>

                <h5>Third party websites and social networks</h5>

                <p>
                    If you click on a hyperlink from <em>Let’s Code!</em> to any third party websites, you may be sent cookies
                    from these third party websites. Third party websites will have their own privacy and cookie policies which
                    we cannot control. Please check the third-party websites for more information about their cookies and how to
                    manage them.
                </p>

                <h4>Google Analytics</h4>

                <p>
                    <em>Let’s Code!</em> uses Google Analytics to help us understand how users interact with
                    <em>Let’s Code!</em>. To view the Google Analytics privacy policy, please
                    <a href="http://www.google.co.uk/intl/en_uk/analytics/privacyoverview.html">click here</a>.
                </p>

                <h4>Changes to this privacy policy</h4>

                <p>
                    We may update this Privacy Policy at any time. When we do, we will revise the updated date at the bottom
                    of this page. We encourage Users to frequently check this page for any changes to stay informed about how
                    we are helping to protect the personal information we collect. You acknowledge and agree that it is your
                    responsibility to review this Privacy Policy periodically and become aware of modifications.
                </p>

                <h4>Your acceptance of these terms</h4>

                <p>
                    By using <em>Let’s Code!</em>, you signify your acceptance of this Privacy Policy. If you do not agree to
                    this Privacy Policy, please do not use <em>Let’s Code!</em>. Your continued use of <em>Let’s Code!</em>
                    following the posting of changes to this Privacy Policy will be deemed your acceptance of those changes.
                </p>

                <h3>Feedback</h3>

                <p>
                    If you have comments, questions or suggestions, you can
                    <a href="mailto:future_tech@pearson.com">email us</a>.
                </p>

                <p>The <em>Let's Code!</em> team at Future Technologies, Pearson</p>

                <p class="small last-revised">Last revised 24th March 2014.</p>

                </div>

            </div>

        </div>

    </div>

    <%- include pearson_footer.ejs %>

</div>
<%- include foot.ejs %>
