<div class="fixed">
    <nav id="top-bar" class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <a href="/tutorials" data-clientside="true">
                    <img src="/img/letscode-logo-toolbar.png" class="logo" alt="Let's Code!"/>
                </a>
            </li>
        </ul>

        <div class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li class="project controls" id="project-controls"></li>
                <li class="user controls" id="user-controls"></li>
                <li class="help"><a href="/help">Help</a></li>
            </ul>
        </div>

        <div id="tutorial-panel"></div>
    </nav>
</div>

<div id="ide"></div>

<div id="content"></div>

<div id="overlay"></div>

<footer>
    <img class="always-learning left" src="/img/always-learning.png" alt="Always Learning">
    <img class="pearson right" src="/img/pearson-logo.png" alt="Pearson">
</footer>