<div id="edit-panel">

    <div class="row">
        <div class="medium-12 columns">
            <div class="controls"></div>
        </div>
    </div>

    <div class="row">
        <div class="medium-12 columns">
            <div class="tabs-container"></div>
        </div>
    </div>

    <div class="row">
        <div class="panels">
            <div class="methods">
            </div>
            <div class="details">
                <div class="tabs-content">
                    <div class="content" id="panel-methods"></div>
                    <div class="content" id="panel-properties"></div>
                    <div class="content" id="panel-events"></div>
                </div>
            </div>
            <div class="events">
            </div>
        </div>
    </div>

</div>

<div class="library"></div>
