<div class="row full-width stage">
    <div id="stage" class="medium-12 columns text-center full-width"></div>
</div>

<div class="fixed">
    <div class="row full-width editor">
        <div id="editor" class="medium-12 columns full-width"></div>
    </div>
</div>

<div id="selected-entity"></div>

<div id="popup-no-project" class="popup center">

    <h4>Project not found</h4>

    <p>The project you requested could not be found.</p>

    <a href="/" class="button tiny round blue">Go back</a>

</div>